[Unit]
Description=Hive Metastore
Wants=network-online.target
After=network-online.target hdfs-namenode.service

[Service]
Type=simple
User=root
Environment=HADOOP_HOME=/opt/bigdata/hadoop-client
Environment=HADOOP_CONF_DIR=/opt/bigdata/hadoop-client/etc/hadoop
ExecStart=/opt/bigdata/hive/bin/hive --service metastore
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
